<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Our Works, Management consulting, Get in touch">
    <meta name="description" content="">
    <title>Страница 1</title>
    <link rel="stylesheet" href="~/css/Prof1.css" media="screen">
<link rel="stylesheet" href="~/css/Prof2.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/Prof1.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/Prof2.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    
    <script type="application/ld+json">{
		"@@context": "http://schema.org",
		"@@type": "Organization",
		"name": "",
		"logo": "images/business-gb1578e740_640.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 1">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="ru">
        
    <section class="u-align-center u-clearfix u-section-1" id="sec-34ce">
      <img class="u-expanded-width u-image u-image-1" src="~/img/images/bvvbbvbb-min.jpg" data-image-width="1920" data-image-height="1052">
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-icon-circle u-palette-3-base u-text-white u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="~/img/images/1930265-8799dd01.png" alt=""></span>
              <h4 class="u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"> Выгорание</h4>
              <p class="u-text u-text-2"> Вы «выгорели» в своей текущей профессии и не хотите в ней развиваться</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-icon-circle u-palette-3-base u-text-white u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="~/img/images/125842-61ad9a97.png" alt=""></span>
              <h4 class="u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"> Сокращения</h4>
              <p class="u-text u-text-4"> Вы находитесь в зоне риска потери рабочего места</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-icon-circle u-palette-3-base u-text-white u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="~/img/images/5289645-d7c63f96.png" alt=""></span>
              <h4 class="u-text u-text-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"> Нет роста</h4>
              <p class="u-text u-text-6"> Не понимаете, как дальше профессионально расти на текущем месте работы</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-file-icon u-icon u-icon-circle u-palette-3-base u-text-white u-icon-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="~/img/images/2572691-b43854f5.png" alt=""></span>
              <h4 class="u-text u-text-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Безвыходность</h4>
              <p class="u-text u-text-8"> У вас есть желание сменить профессию, но не знаете, чем заниматься</p>
            </div>
          </div>
        </div>
      </div>
      <h1 class="u-text u-text-white u-text-9">Предпосылки к профориентации</h1>
      <h2 class="u-text u-text-10"> Что вы получите по итогу персональной профориентации:</h2>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_6057">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1500" data-image-height="1015" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-text u-text-1">
                    <span style="font-weight: 700;"> Рекомендация по направлениям</span>
                    <br>Определение ваших зон роста, мотивации и подходящих специальностей для работы в IT<br>
                    <span style="font-weight: 700;">Выявление ваших способностей</span>
                    <br>Разбор ваших психологических особенностей, которые важно учитывать при выборе профессии и поиске работы
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="u-border-10 u-border-white u-expanded-width-sm u-expanded-width-xs u-image u-image-2" src="~/img/images/photo-1496851473196-e26508c21494.jpg" data-image-width="500" data-image-height="667" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
        <img class="u-image u-image-3" src="~/img/images/9df29834-099f-2727-519e-9311974215d2.jpg" data-image-width="934" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
        <div class="u-border-13 u-border-no-bottom u-border-no-right u-border-no-top u-border-palette-3-base u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-valign-middle u-container-layout-3">
            <p class="u-text u-text-2">
              <span style="font-weight: 700;"> А</span>
              <span style="font-weight: 700;">нализ сильных сторон</span>
              <br>Комплексный анализ ваших склонностей и сильных сторон для работы в IT-сфере<br>
              <span style="font-weight: 700;">П</span>
              <span style="font-weight: 700;">ерсональная подготовка к собеседованию</span>
              <br>Персональная рекомендация по прохождению собеседований и поиску компаний для трудоустройства<br>
              <br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-base u-section-3" id="carousel_d430">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Что мы дополнительно проводем на профориентации:</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-1" src="" data-image-width="740" data-image-height="1110" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-85 u-white u-group-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h6 class="u-text u-text-2">Сплочение команды</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-2" src="" data-image-width="740" data-image-height="1110" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-85 u-white u-group-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-container-layout u-valign-middle u-container-layout-4">
                    <h6 class="u-text u-text-3">Разрабатывем стратегию</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-3" src="" data-image-width="740" data-image-height="1109" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-85 u-white u-group-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-container-layout u-valign-middle u-container-layout-6">
                    <h6 class="u-text u-text-4">Координируем действия</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-4" src="" data-image-width="740" data-image-height="1110" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-85 u-white u-group-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-container-layout u-valign-middle u-container-layout-8">
                    <h6 class="u-text u-text-5">Помогаем продать проект</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-5" src="" data-image-width="740" data-image-height="1110" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-9">
                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-85 u-white u-group-5" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-container-layout u-valign-middle u-container-layout-10">
                    <h6 class="u-text u-text-6">Курсы повышения квалификации</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-6" src="" data-image-width="740" data-image-height="1110" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-11">
                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-85 u-white u-group-6" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-container-layout u-valign-middle u-container-layout-12">
                    <h6 class="u-text u-text-7">Диджитал развитие</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-7" src="" data-image-width="740" data-image-height="1109" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-13">
                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-85 u-white u-group-7" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-container-layout u-valign-middle u-container-layout-14">
                    <h6 class="u-text u-text-8">Менеджмент</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-8" src="" data-image-width="900" data-image-height="900" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-15">
                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-85 u-white u-group-8" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-container-layout u-valign-middle u-container-layout-16">
                    <h6 class="u-text u-text-9">Помогаем найти сотрудников</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-9" src="" data-image-width="740" data-image-height="943" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-container-layout-17">
                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-85 u-white u-group-9" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-container-layout u-valign-middle u-container-layout-18">
                    <h6 class="u-text u-text-10">Анализ</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="carousel_ba86">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-30">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
                    <div class="u-container-layout u-container-layout-1">
                      <img src="~/img/images/6457.jpg" alt="" class="u-align-left u-expanded-width u-image u-image-1" data-image-width="966" data-image-height="920">
                    </div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <h2 class="u-align-left u-text u-text-1"> Алгоритм работы</h2>
                      <p class="u-align-left u-text u-text-2">
                        <span style="font-weight: 700;"> Оставьте заявку на сайте</span>
                        <br>Оставьте заявку на странице сайта по профориентации
                      </p>
                      <a asp-action="SelectCourse" class="u-active-black u-align-left u-border-active-white u-border-hover-white u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-3-base u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1" data-lang-ru="{&quot;content&quot;:&quot;read more&quot;,&quot;href&quot;:&quot;https://nicepage.cloud&quot;}" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Оставить заявку</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <div class="u-align-left u-palette-3-base u-shape u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
                      <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                        <div class="u-container-layout u-valign-middle u-container-layout-4">
                          <p class="u-text u-text-3">
                            <span style="font-weight: 700;"> Первичная консультация</span>
                            <br>Получите бесплатную консультацию (до 20 минут) для выявления ваших потребностей<br>
                            <span style="font-weight: 700;">Р</span>
                            <span style="font-weight: 700;">абота с Юлией Ражабовой</span>
                            <br>Начните работу с Юлией, которая подразумеевает под собой ряд встреч (от подготовки карьерного плана к достижимым результатам)<br>
                          </p>
                        </div>
                      </div>
                      <img src="~/img/images/erre.jpg" alt="" class="u-align-left u-image u-image-2" data-image-width="900" data-image-height="601" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="0">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
  
</body></html>