@model UserOrder;
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Finding the best car insurance company for you, Insurance and investing for your many sides, Finding the best car insurance company for you, The Best Insurance Companies for 2021, The Best Car Insurance Companies for 2021, Faq, Safe. Relaxing. Good to ride in. Subtly decorated., Contact Us">
    <meta name="description" content="">
    <title>Страница 2</title>
    <link rel="stylesheet" href="~/css/Main.css" media="screen">
    <link rel="stylesheet" href="~/css/Main2.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">








    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@type": "Organization",
                "name": "",
                "logo": "images/business-gb1578e740_640.png"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 2">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body data-home-page="Страница-2.html" data-home-page-title="Страница 2" class="u-body u-overlap u-overlap-contrast u-xl-mode" data-lang="ru">
    
    <section class="u-align-center u-clearfix u-white u-section-1" id="sec-7938">
        
        <div class="u-clearfix u-sheet u-sheet-1">
            
            <div class="u-carousel u-expanded-width-xs u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1" id="carousel-f035" data-interval="5000" data-u-ride="carousel">
                
                <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                    <li data-u-target="#carousel-f035" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-f035" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-f035" data-u-slide-to="2" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                </ol>
                <div class="u-carousel-inner u-gallery-inner" role="listbox">
                    <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1">
                        <div class="u-back-slide" data-image-width="2048" data-image-height="1536">
                            <img class="u-back-image u-expanded" src="~/img/Karl_Mayer_Textilmaschine.jfif">
                        </div>
                        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1">
                            <h3 class="u-gallery-heading">Sample Title</h3>
                            <p class="u-gallery-text">Sample Text</p>
                        </div>
                    </div>
                    <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2">
                        <div class="u-back-slide" data-image-width="1920" data-image-height="600">
                            <img class="u-back-image u-expanded" src="~/img/11_bg.jpg">
                        </div>
                        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2">
                            <h3 class="u-gallery-heading">Sample Title</h3>
                            <p class="u-gallery-text">Sample Text</p>
                        </div>
                    </div>
                    <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-3" data-image-width="1280" data-image-height="720">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="~/img/maxresdefault.jpg">
                        </div>
                        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-3">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG"></style>
                        <style data-mode="MD"></style>
                        <style data-mode="SM"></style>
                        <style data-mode="XS"></style>
                    </div>
                </div>
                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-hidden-sm u-hidden-xs u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-f035" role="button" data-u-slide="prev">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-hidden-sm u-hidden-xs u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-f035" role="button" data-u-slide="next">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                </a>
            </div>
            <h4 class="u-text u-text-default u-text-white u-text-1"> ТЕКСТИЛЬНАЯ ГАЛАНТЕРЕЯ РИТУАЛЬНОГО НАЗНАЧЕНИЯ</h4>
            <h5 class="u-align-left u-text u-text-body-alt-color u-text-default u-text-2">
                Предлагаем текстильную галантерею собственного производства:<br>кружева, рюши, ленты, тесьма жаккардовая и другие.
            </h5>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-5 u-section-2" src="" id="carousel_1789">
        <div class="u-black u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">КОМАЙПРОДУКТ</h2>
                <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    Традиционно высокое качество белорусского текстиля<br>по конкурентоспособной цене.
                </p>
                <div class="u-expanded-width u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                        <div class="u-align-center u-container-style u-custom-border u-list-item u-radius-8 u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                            <div class="u-container-layout u-similar-container u-container-layout-2">
                                <img class="u-expanded-width u-image u-image-default u-image-1" src="~/img/i12.webp" alt="" data-image-width="640" data-image-height="640">
                                <h5 class="u-align-center u-text u-text-3">Ритуальная Продукция</h5>
                                <a asp-action="RitualProduction2" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">подробнее</a>
                            </div>
                        </div>
                        <div class="u-align-center u-container-align-center u-container-style u-custom-border u-list-item u-radius-8 u-repeater-item u-shape-round u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                            <div class="u-container-layout u-similar-container u-container-layout-3">
                                <img class="u-expanded-width u-image u-image-default u-image-2" src="~/img/b6c3b9ce915bac37ab6497a206fe--materialy-dlya-tvorchestva-tesma-kruzhevnaya-shirina-14-mm-hl.jpg" alt="" data-image-width="1500" data-image-height="846">
                                <h5 class="u-align-center u-text u-text-4">Текстильная галантерея</h5>
                                <a asp-controller="Home" asp-action="Admin" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-2">подробнее</a>
                            </div>
                        </div>
                        <div class="u-align-center u-container-align-center u-container-style u-custom-border u-list-item u-radius-8 u-repeater-item u-shape-round u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                            <div class="u-container-layout u-similar-container u-container-layout-4">
                                <img class="u-expanded-width u-image u-image-default u-image-3" src="~/img/61.jpg" alt="" data-image-width="653" data-image-height="445">
                                <h5 class="u-align-center u-text u-text-5">
                                    Текстиль&nbsp;<br>для дома
                                </h5>
                                <a asp-action="Kitchen" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-3">подробнее</a>
                            </div>
                        </div>
                        <div class="u-align-center u-container-align-center u-container-style u-custom-border u-list-item u-radius-8 u-repeater-item u-shape-round u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                            <div class="u-container-layout u-similar-container u-container-layout-5">
                                <img class="u-expanded-width u-image u-image-default u-image-4" src="~/img/10.jpg" alt="" data-image-width="886" data-image-height="591">
                                <h5 class="u-align-center u-text u-text-6">Пасхальные салфетки</h5>
                                <a asp-action="Salfetki" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-4">подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="sec-3a42">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-border-3 u-border-grey-75 u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6c69"></use></svg><svg class="u-svg-content" viewBox="0 0 128 128" id="svg-6c69"><path d="m118.6 47.8h-61.2c-5.2 0-9.4 4.2-9.4 9.3v35.7c0 5.1 4.2 9.3 9.4 9.3h37.5l16.8 16.8c2.5 2.5 6.8 0.7 6.8-2.8v-10-3.9h0.1c5.2 0 9.4-4.2 9.4-9.3v-35.8c0-5.1-4.2-9.3-9.4-9.3zm1.2 45c0 0.7-0.5 1.2-1.2 1.2h-5.2c-1.6 0-2.9 1.2-3.1 2.8v9.2l-11.2-11.2c-0.5-0.5-1.3-0.8-2-0.8h-39.7c-0.7 0-1.2-0.5-1.2-1.2v-35.7c0-0.7 0.5-1.2 1.2-1.2h61.3c0.7 0 1.2 0.5 1.2 1.2v35.7z"></path><path d="m38.1 67.7c-1 0-2 0.4-2.7 1-0.1 0-0.1 0.1-0.2 0.2l-14.7 15.1v-12.5c-0.2-2.1-1.9-3.8-4-3.8h-6.9c-0.9 0-1.6-0.7-1.6-1.6v-48.3c0-0.9 0.7-1.6 1.6-1.6h80.8c0.9 0 1.6 0.7 1.6 1.6v30.1h8v-30.1c0-5.4-4.3-9.8-9.6-9.8h-80.8c-5.3 0-9.6 4.4-9.6 9.8v48.3c0 5.4 4.3 9.8 9.6 9.8h2.9v8.1 10c0 3.6 4.4 5.3 6.9 2.8l6.8-7 13.6-13.9h8.2v-8.2h-9.9z"></path></svg></span>
                            <h3 class="u-text u-text-1">Помощь</h3>
                            <p class="u-text u-text-default u-text-2">Наш менеджер с вами на связи 24/7</p>
                        </div>
                    </div>
                    <div class="u-align-center u-border-3 u-border-grey-75 u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bbbe"></use></svg><svg class="u-svg-content" viewBox="0 0 128 128" id="svg-bbbe"><path d="m102.7 39.2c0.8 0 1.5 0.3 2.1 0.9l7.8 7.8c4.8 4.8 7.7 11.5 7.4 18.3-0.6 12.6-11 22.6-23.7 22.6h-29c-0.1 0-0.1-0.1-0.1-0.2 1.1-3 4.1-5.2 7.5-5.2h10.5c0.9 0 1.8-0.4 2.3-1.1 0.8-1.1 0.7-2.6-0.3-3.5l-24.9-24.8c-0.6-0.6-0.9-1.3-0.9-2.1s0.3-1.5 0.9-2.1 1.3-0.8 2.1-0.8 1.5 0.3 2.1 0.8l16.9 16.9c0.5 0.5 1.2 0.8 1.9 0.8s1.4-0.3 1.9-0.8 0.8-1.2 0.8-1.9-0.3-1.4-0.8-1.9l-6.7-6.7c-0.6-0.6-0.9-1.3-0.9-2.1s0.3-1.5 0.9-2.1 1.3-0.8 2.1-0.8 1.5 0.3 2.1 0.8l4 4c0.5 0.5 1.2 0.8 1.9 0.8s1.4-0.3 1.9-0.8 0.8-1.2 0.8-1.9-0.3-1.4-0.8-1.9l-2.7-2.7c-0.5-0.5-0.8-1.2-0.8-2s0.3-1.5 0.9-2.1 1.3-0.9 2.1-0.9 1.5 0.3 2.1 0.9l2.7 2.7c0.5 0.5 1.2 0.8 1.9 0.8s1.4-0.3 1.9-0.8 0.8-1.2 0.8-1.9-0.2-1.3-0.7-1.8c-0.8-0.9-1.2-2.1-0.8-3.3 0.5-1.3 1.6-1.9 2.8-1.9m0-8c-2.9 0-5.7 1.1-7.8 3.2-0.7 0.7-1.2 1.4-1.7 2.1 0 0-0.1 0.1-0.1 0-0.4 0-0.8-0.1-1.1-0.1-2.9 0-5.7 1.1-7.8 3.2-1 1-1.8 2.2-2.3 3.4 0 0 0 0.1-0.1 0.1-2.6 0.2-5.1 1.3-6.9 3.2l-0.2 0.2-2.5-2.5c-2-2-4.9-3.2-7.8-3.2s-5.7 1.1-7.8 3.2-3.2 4.9-3.2 7.8c0 3 1.2 5.7 3.2 7.8l15.8 15.8c0.1 0.1 0 0.2-0.1 0.2-5.8 0.8-10.8 4.8-12.8 10.5-1.9 5.2 2 10.7 7.5 10.7h29.1c8.5 0 16.4-3.3 22.4-9.3 6.1-6.1 9.4-14.3 9.3-23-0.1-8.4-3.8-16.4-9.8-22.4l-7.8-7.8c-1.8-2-4.6-3.1-7.5-3.1z"></path><path d="m82.1 118c0 1.1-0.9 2-2 2h-70.2c-1.1 0-2-0.9-2-2v-108c0-1.1 0.9-2 2-2h70.1c1.1 0 2 0.9 2 2v16.9c0 2.2 1.8 4 4 4s4-1.8 4-4v-16.9c0-5.5-4.5-10-9.9-10h-70.2c-5.4 0-9.9 4.5-9.9 10v108c0 5.5 4.5 10 9.9 10h70.1c5.5 0 9.9-4.5 9.9-10v-10.6c0-2.2-1.8-4-4-4s-4 1.8-4 4v10.6z"></path></svg></span>
                            <h3 class="u-text u-text-3">Акции</h3>
                            <p class="u-text u-text-default u-text-4">Мы часто устраиваем акции на разичную продукцию</p>
                        </div>
                    </div>
                    <div class="u-align-center u-border-3 u-border-grey-75 u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <span class="u-icon u-icon-circle u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-00e1"></use></svg><svg class="u-svg-content" viewBox="0 0 128 128" id="svg-00e1"><path d="m78.9 15.9c2.1 0 3.7 1.7 3.7 3.7v3.7h-37.2v-3.7c0-2 1.7-3.7 3.7-3.7h29.8m39.7 14.8-11.6 34.5c-0.5 1.5-1.9 2.5-3.5 2.5h-20.9v-3.7c0-2-1.7-3.7-3.7-3.7h-29.8c-2.1 0-3.7 1.7-3.7 3.7v3.7h-20.9c-1.6 0-3-1-3.5-2.5l-11.6-34.5h109.2m1.5 19.1v58.6c0 2-1.7 3.7-3.7 3.7h-104.7c-2.1 0-3.7-1.7-3.7-3.7v-58.6l5.9 17.7c1.5 4.5 5.8 7.6 10.6 7.6h20.9v3.7c0 2 1.7 3.7 3.7 3.7h29.8c2.1 0 3.7-1.7 3.7-3.7v-3.7h20.9c4.8 0 9.1-3 10.6-7.6l6-17.7m-44.9 17.9v7.4h-22.4v-7.4h22.4m15.3-44.9v-3.2c0-6.4-5.2-11.6-11.6-11.6h-29.8c-6.4 0-11.7 5.2-11.7 11.6v3.2h-29.5c-4.4 0-7.9 3.5-7.9 7.9v77.7c0 6.4 5.2 11.6 11.7 11.6h104.7c6.4 0 11.7-5.2 11.7-11.6v-77.7c0-4.4-3.6-7.9-7.9-7.9h-29.7z"></path></svg></span>
                            <h3 class="u-text u-text-5">Команда</h3>
                            <p class="u-text u-text-default u-text-6">Наша команда - это компетентные и профеесиональные сотрудники</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-4" id="carousel_d74a">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1">
                                <h2 class="u-text u-text-default u-text-1">Остались вопросы?</h2>
                                <p class="u-text u-text-2">Оставьте свои контакты и наш менеджер вам перезвонит.</p>
                                <div class="u-black u-container-style u-group u-radius-50 u-shape-round u-group-1">
                                    <div class="u-container-layout u-container-layout-2">
                                        <h5 class="u-text u-text-default u-text-3">Номера менеджеров</h5>
                                        <p class="u-text u-text-default u-text-white u-text-4">
                                            <a href="tel:+375297888882" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">
                                                <br>
                                            </a>
                                            <br>+375 29 788 88 82 Лилия<br>+375 29 888 80 70 Вероника
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-3">
                                <div class="u-form u-grey-5 u-radius-50 u-form-1">
                                    <form asp-action="Main" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" source="email" name="form" style="padding: 30px;">
                                        <div class="u-form-group u-form-name">
                                            <label for="name-b064" class="u-label">Имя</label>
                                            <input  asp-for="Name" type="text" placeholder="Оставьте ваше имя" id="name-b064"  class="u-border-none u-input u-input-rectangle u-radius-20" required="">
                                        </div>
                                        <div class="u-form-email u-form-group">
                                            <label for="email-b064" class="u-label">Телефон</label>
                                            <input asp-for="PhoneNumber" type="text" placeholder="Ваша номер телефона" id="email-b064"  class="u-border-none u-input u-input-rectangle u-radius-20" required="">
                                        </div>
                                        <div class="u-align-left u-form-group u-form-submit">
                                            
                                            <input type="submit" value="submit" >
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-white u-section-5" id="carousel_00f0">
        <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1750"></div>
        <div class="u-black u-bottom-left-radius-20 u-shape u-shape-round u-top-left-radius-20 u-shape-2" data-animation-name="customAnimationIn" data-animation-duration="1250"></div>
        <img class="u-image u-image-round u-radius-20 u-image-1" data-image-width="699" data-image-height="466" src="~/img/Shanghaitex_Abb4_RDJ_5_1.jpg" data-animation-name="customAnimationIn" data-animation-duration="1250">
        <div class="u-align-left u-container-style u-group u-radius-20 u-shape-round u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-1">КомайПродукт</h2>
                <ul class="u-custom-font u-font-roboto-condensed u-text u-text-2">
                    <li> Большой ассортимент ритуальной продукции</li>
                    <li>Высокое качество товара</li>
                    <li>Многолетний опыт в работе</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center-xl u-container-align-left-md u-white u-section-6" id="carousel_abf6">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-align-left u-border-10 u-border-black u-container-style u-group u-shape-rectangle u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-1">КомайПродукт</h2>
                    <p class="u-align-left u-text u-text-2">
                        Предлагаем надежные поставки крупных и мелких партий ритуального текстиля, галантереи для шитья и текстиля для дома. Наши изделия, тюле-гардинное полотно производятся на собственном технологичном оборудовании, которое позволяет создавать высококачественные изделия точно в срок.Также выполняем услуги по&nbsp;снованию нити,&nbsp;отделке текстильных полотен, изготовлению изделий по индивидуальным заказам и рисункам.<br>Баланс цены и качества от&nbsp;Комайпродукт - это выгода сотрудничества и традиционное высокий уровень продукции!<br>
                    </p>
                    <a href="https://nicepage.best" class="u-active-white u-align-left u-border-2 u-border-active-white u-border-black u-border-hover-white u-btn u-btn-round u-button-style u-hover-white u-none u-radius-5 u-btn-1">О компании</a>
                </div>
            </div>
            <div class="u-align-center u-border-10 u-border-black u-border-no-right u-container-align-left u-container-style u-group u-white u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <div class="u-image u-image-circle u-image-1" alt="" data-image-width="410" data-image-height="430"></div>
                    <p class="u-align-left u-text u-text-default u-text-3"> Наша основная специализация -&nbsp;тюле-гардинное полотно: ритуальный текстиль,&nbsp;текстиль&nbsp;для дома, а также кружева, рюши, тесьма и другая&nbsp;галантерея&nbsp;для шитья.</p>
                </div>
            </div>
        </div>
    </section>
    

   
</body>
</html>