<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Обработка персональных данных">
    <meta name="description" content="">
    <title>Страница 5</title>
    <link rel="stylesheet" href="~/css/Main.css" media="screen">
    <link rel="stylesheet" href="~/css/Personal.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@type": "Organization",
                "name": "",
                "logo": "images/business-gb1578e740_640.png"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 5">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body class="u-body u-xl-mode" data-lang="ru">
    
    <section class="u-align-center u-clearfix u-container-align-center u-section-1" id="carousel_8b54">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000">Обработка персональных данных</h2>
            <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <img class="u-image u-image-contain u-image-default u-image-1" src="~/img/karl-mayer-warp-knitting.jpg" alt="" data-image-width="1067" data-image-height="800" data-animation-name="customAnimationIn" data-animation-duration="1500">
                                <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500"> 3. Подтверждение Согласия Пользователя осуществляется в процессе регистрации Пользователя на едином портале посредством нажатия Пользователем кнопки "Я согласен с правилами использования ресурсов портала и передачей персональных данных", помещенной под формой регистрации. Момент регистрации «личного кабинета» (учетной записи) означает подтверждение Пользователем своего согласия с Согласием, а также согласие со всеми условиями Соглашения и безоговорочное их принятие</p>
                                <div class="u-align-center u-container-style u-expanded-width u-group u-opacity u-opacity-95 u-palette-3-base u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                                    <div class="u-container-layout u-container-layout-2">
                                        <p class="u-text u-text-default u-text-3"> 4. Принимая условия настоящего Согласия и Соглашения, Пользователь подтверждает, что при регистрации «личного кабинета» (учетной записи) по адресу komay.by Пользователь указал достоверные персональные данные, даёт своё согласие на осуществление действий со своими персональными данными, а также с информацией, касающейся Пользователя и относящейся к коммерческой или иной охраняемой законом тайне, владельцем интернет-магазина «komay.by» в соответствии с законодательством Республики Беларусь с соблюдением требований, определенных законодательством об информации, информатизации и защите информации.</p>
                                        <p class="u-text u-text-default u-text-4">
                                            5. Целью получения интернет-магазином «komay.by» Согласия Пользователя является предоставление возможности Пользователю использования ресурсов интернет-магазина путем регистрации «личного кабинета» (учетной записи. Оператор интернет-магазина имеет право осуществлять действия с персональными данными Пользователя, а также с информацией, касающейся Пользователя и относящейся к коммерческой или иной охраняемой законом тайне, в течение срока действия доступа Пользователя к интернет-магазину.<br>6. Настоящее Согласие действует с момента его предоставления Пользователем интернет-магазину «komay.by» в порядке, определенном п. 3 настоящего Согласия, и действует до момента прекращения доступа Пользователя к единому порталу.<br>7. Интернет-магазин «komay.by» не несет никакой ответственности за искажение и утечку персональных данных Пользователя, информации, касающейся Пользователя и относящейся к коммерческой или иной охраняемой законом тайне, по незащищённому каналу связи.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-3">
                                <div class="u-align-center u-container-style u-expanded-width u-group u-palette-3-base u-shape-rectangle u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                                    <div class="u-container-layout u-container-layout-4">
                                        <p class="u-text u-text-default u-text-5">
                                            1. Настоящее Согласие Пользователя (далее – настоящее Согласие) является неотъемлемой частью Соглашения о порядке использования сайта каталога «komay.by», расположенный по адресу komay.by (далее – Соглашение) и дается интернет-магазину исключительно в целях предоставления последним Пользователю возможности использования ресурсов интернет-магазина.<br>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                                <p class="u-text u-text-default u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> 2. Термины и их определения в настоящем Согласии используются в терминах и их определениях, приведенных в Соглашении, а также: термин «персональные данные» применяется в определении и значении, установленном ст. 8 Закона Республики Беларусь от 21.07.2008 № 418-З «О регистре населения» в значении и определении термина «основные персональные данные»; термин «согласие» означает согласие Пользователя на осуществление действий с информацией, касающейся Пользователя и относящейся к коммерческой или иной охраняемой законом тайне для целей использования ресурсов единого портала, предоставления доступа к электронным услугам посредством сети интернет; термин «действия» означает - сбор, обработку, хранение, запись, систематизацию, накопление, уточнение (обновление, изменение), извлечение, использование, удаление информации в информационных ресурсах (системах) Республики Беларусь, о персональных данных Пользователя, с соблюдением требований, определенных законодательством об информации, информатизации и защите информации.</p>
                                <img class="u-image u-image-contain u-image-default u-image-2" src="~/img/Shanghaitex_Abb4_RDJ_5_1.jpg" alt="" data-image-width="699" data-image-height="466" data-animation-name="customAnimationIn" data-animation-duration="1500">
                                <img class="u-image u-image-default u-image-3" src="~/img/Karl-Mayer-pic-1.jpg" alt="" data-image-width="591" data-image-height="393">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>