<h2>Use Form</h2>
<form method="post">
    <label>user Name:</label><br />
    <input type = "text" name="username" />
    <label>Password</label><br />
    <input type="password" name="password" />
    <label>Age</label><br />
    <input type="age" name="age" />

</form>