@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@model List<User>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Age</td>
    </tr>
    @foreach(var p in Model){
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Email</td>
            <td>@p.Age</td>
        </tr>
    }q
</table>
<a asp-action="Privacy">Add User</a>