@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<form method="post">
    <p>
    <label>Name:</label><br/>
    <input type="text" name="username" />
    </p>
    <p>
    <label>Email</label><br />
    <input type="email" name="email" />
    </p>
    <p>
    <label>Age</label><br />
    <input type="password" name="password" />
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
    
</form>