@model Tutor;
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Gallery, ​Turn your ideas to live web experiences, Our Projects, ​Turn your ideas to live web experiences">
    <meta name="description" content="">
    <title>Страница 3</title>
    <link rel="stylesheet" href="~/css/AddComment1.css" media="screen">
    <link rel="stylesheet" href="~/css/AddComment2.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/AddComment1.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/AddComment2.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">



    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@type": "Organization",
                "name": "",
                "logo": "images/business-gb1578e740_640.png"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 3">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body class="u-body u-xl-mode" data-lang="ru">

    <section class="u-clearfix u-section-2" id="carousel_600d">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1">
                                <h2 class="u-text u-text-default u-text-1">Админка</h2>
                                <div class="u-white u-container-style u-group u-radius-50 u-shape-round u-group-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h5 class="u-text u-text-default u-text-2">Техподдержка работает с:</h5>
                                        <p class="u-text u-text-default u-text-3">
                                            Mon - Fri: 09 - 07​<br>Сб - Вс: Закрыто
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-valign-bottom u-container-layout-3">
                                <div class="u-expanded-width u-form u-grey-5 u-radius-50 u-form-1">
                                    <form asp-action="AddTutor" asp-controller="Home" style="padding: 30px;">

                                        <div class="u-form-group u-form-name u-label-top">
                                            <label for="name-5a14" class="u-label">Имя</label>
                                            <input type="text" asp-for="Name" placeholder="Введите имя преподавателя" id="name-5a14" class="u-border-none u-grey-5 u-input u-input-rectangle u-radius-7 u-input-2" required="">
                                        </div>
                                        <div class="u-form-group u-form-name u-label-top">
                                            <label for="name-5a14" class="u-label">Ссылка</label>
                                            <input type="text" asp-for="URL" placeholder="Введите ссылку на картинку" id="name-5a14" class="u-border-none u-grey-5 u-input u-input-rectangle u-radius-7 u-input-2" required="">
                                        </div>
                                        <div class="u-form-email u-form-group u-label-top">
                                            <label for="email-5a14" class="u-label">Описание</label>
                                            <textarea asp-for="Description" placeholder="Введите описание преподавателя" rows="4" cols="50" id="message-b064" class="u-border-none u-input u-input-rectangle u-radius-20" required=""></textarea>
                                        </div>

                                        <a href="#" class="u-active-black u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-black u-palette-3-base u-radius-7 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">Submit</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
</html>