@using WebApplication11.Models;
@model PhoneConsult;
@*<!DOCTYPE html>
<html lang="ru">
<head>
   
    <meta charset="UTF-8">
    <title>Tutors</title>
    <link rel="stylesheet" href="~/css/style_course_main.css" type="text/css">
</head>
<body>
   
    <style>
        body {
            background-color: black;
        }
    </style>
    
    <h1 class="title3">Наши выпускники работают в:</h1>
    <a class="online" asp-area="" asp-controller="Course" asp-action="Course_online">Онлайн Курсы</a>
    <a class="offline2" asp-area="" asp-controller="Course" asp-action="Course_offline">Оффлайн Курсы</a>
    <h1 class="title1">Каталог курсов</h1>
    <h2 class="title2">За 6 лет мы выпустили более 8000 айтишников, которые успешно начали свой путь в международных IT компаниях.</h2>
    <img class="online2" src="~/img/15.jpg" />
    <img class="offline" src="~/img/16.jpg" />
    <img class="company" src="~/img/companies.png" />
    <form asp-action="Course_main" asp-controller="Home">
        <div class="container-input">
            
            <img class="input-img" src="~/img/fon3.jpg" /> 
            <h1 class="inputnik-text">Нужна помощь с выбором курса?</h1>
            
                <input type="text" asp-for="PhoneNumber" class="input-phone" />
                <input type="submit"  value="Отправить" class="phone-btn" />
            <h2 class="inp">Оставь телефон в форме ниже, и мы проконсультируем тебя в ближайшее время.</h2>
        </div>
    </form>
    

    

</body>
</html>
*@
  
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Finding the best car insurance company for you, Insurance and investing for your many sides, Finding the best car insurance company for you, The Best Insurance Companies for 2021, The Best Car Insurance Companies for 2021, Faq, Safe. Relaxing. Good to ride in. Subtly decorated., Contact Us">
    <meta name="description" content="">
    <title>Страница 1</title>
    <link rel="stylesheet" href="~/css/Course_main2.css" media="screen">
    <link rel="stylesheet" href="~/css/Course_main3.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/js_main.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/js_main2.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">







    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@type": "Organization",
                "name": "",
                "logo": "images/business-gb1578e740_640.png"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 1">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body class="u-body u-overlap u-xl-mode" data-lang="ru">
    <style>
        body {
            background-color: black;
        }
    </style>
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_c016" data-image-width="1280" data-image-height="853">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-body-alt-color u-text-1">FULL-BRAINS</h1>
            <p class="u-text u-text-body-alt-color u-text-2">
                <br>
                <br>
                <br>За 6 лет мы выпустили более 8000 айтишников, которые успешно начали свой путь в международных IT компаниях.
            </p>
        </div>
    </section>
    <section class="u-align-center u-black u-clearfix u-section-2" id="carousel_52c8">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-1">Каталог курсов</h2>
            <p class="u-text u-text-white u-text-2">
                Онлайн Курсы<span style="font-size: 1.25rem;"></span>
            </p>
            <p class="u-text u-text-white u-text-3">
                Оффлайн Курсы<span style="font-size: 1.25rem;"></span>
            </p>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-image u-list-item u-repeater-item u-image-1" data-image-width="1280" data-image-height="853">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <a  asp-controller="Home" asp-action="Admin" class="u-border-2 u-border-palette-3-base u-btn u-btn-round u-button-style u-hover-palette-3-base u-none u-radius-25 u-text-hover-white u-text-palette-3-base u-btn-1">Онлайн</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-image u-list-item u-repeater-item u-image-2" data-image-width="1280" data-image-height="905">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <a asp-controller="Course" asp-action="Course_offline" class="u-border-2 u-border-palette-3-base u-btn u-btn-round u-button-style u-hover-palette-3-base u-none u-radius-25 u-text-hover-white u-text-palette-3-base u-btn-2">Оффлайн</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-black u-clearfix u-section-3" id="carousel_d920">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-1">Наши выпускники работают в:</h2>
            <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-3 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1"></div>
                        </div>
                        <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-57 u-image-1" data-image-width="1452" data-image-height="536">
                            <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
                <div class="u-gallery-inner u-gallery-inner-1">
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="815">
                            <img class="u-back-image u-expanded" src="~/img/sharp1.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-1">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item u-gallery-item-2">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="787">
                            <img class="u-back-image u-expanded" src="~/img/online1.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-2">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item u-gallery-item-3">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="720">
                            <img class="u-back-image u-expanded" src="~/img/ade7af19f77cbbd02a0946ba529e79e0c8f1e7f32a36f3f250cc1aed1022e5cfc894eec126f12e6076ce99b91f1414a71fbd0d512649d98aea142b_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-black u-clearfix u-section-4" id="carousel_659f">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-33-md u-size-33-sm u-size-33-xs u-size-36-xl u-size-41-lg u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-text u-text-default u-text-1">Лучшая IT компания&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2023</h2>
                            </div>
                        </div>
                        <div class="u-align-right u-container-style u-layout-cell u-size-19-lg u-size-24-xl u-size-27-md u-size-27-sm u-size-27-xs u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                                <h5 class="u-text u-text-2">
                                    ты в хороших <span class="u-text-palette-3-light-1">руках</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-black u-clearfix u-section-5" id="carousel_61b9">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-31 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-text u-text-1">Помощь с выбором курса</h2>
                                <p class="u-text u-text-2">Наш помощник не оставит вас без внимания</p>
                                <div class="u-container-style u-group u-palette-1-base u-radius-50 u-shape-round u-group-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h5 class="u-text u-text-default u-text-3">Менеджер Юлия</h5>
                                        <p class="u-text u-text-default u-text-4">
                                            +375449695954<br>+375335858558
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-29 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-3">
                  <div class="u-form u-grey-5 u-radius-50 u-form-1">
                                    <form asp-action="Course_main" asp-controller="Home" style="padding: 30px;">
                      <div class="u-form-group u-form-name">
                                            <label   for="name-b064"  class="u-label">Телефон</label>
                                            <input type="text" asp-for="PhoneNumber" placeholder="Enter your phone" id="name-b064"  class="u-border-none u-input u-input-rectangle u-radius-20" required="" /> 
                      </div>
                      <div class="u-form-email u-form-group">
                                            <label   for="email-b064"  class="u-label">Email</label>
                        <input  asp-for="Email" type="email"  placeholder="Enter a valid email address" id="email-b064" name="email" class="u-border-none u-input u-input-rectangle u-radius-20" required="">
                      </div>
                      <div class="u-align-left u-form-group u-form-submit">
                        <a href="#" class="u-btn u-btn-submit u-button-style u-radius-30">Отправить</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
                       
                        @*<div class="container-input">
                        <form asp-action="Course_main" asp-controller="Home">



                               
                                <label class="ph">Телефон:</label><br />
                                <input type="text" asp-for="PhoneNumber" class="input-phone"  /><br />
                                <label class="em">Email</label><br />
                                <input type="email" asp-for="Email" class="input-email" /><br />
                                <input type="submit" value="Отправить" class="phone-btn" /><br />
                                
                            
                        </form>
                        </div>*@
                    </div>
        </div>
    </section>
    <section class="u-align-center u-black u-clearfix u-section-6" id="carousel_ddcf">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-text u-text-1">FAQ</h2>
            <div class="u-accordion u-faq u-spacing-20 u-accordion-1">
                <div class="u-accordion-item">
                    <a class="active u-accordion-link u-active-palette-3-base u-border-1 u-border-active-palette-5-dark-2 u-border-hover-palette-5-dark-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-2 u-button-style u-text-body-alt-color u-accordion-link-1" id="link-accordion-6327" aria-controls="accordion-6327" aria-selected="true">
                        <span class="u-accordion-link-text">О нас и о нашей компании</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2c6d"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-2c6d" style="">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-active u-accordion-pane u-container-style u-accordion-pane-1" id="accordion-6327" aria-labelledby="link-accordion-6327">
                        <div class="u-container-layout u-container-layout-1">
                            <div class="fr-view u-clearfix u-rich-text u-text">
                                <p>Мы предлагаем полный курс Front End: HTML, CSS и JavaScript с нуля. На курсе ты научишься верстать адаптивные и кроссбраузерные приложения и сайты, напишешь свое первое приложение на JavaScript, изучишь популярный сегодня фреймворк React и разработаешь web-приложение на нем.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-palette-3-base u-border-1 u-border-active-palette-5-dark-2 u-border-hover-palette-5-dark-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-2 u-button-style u-text-body-alt-color u-accordion-link-2" id="link-accordion-4aab" aria-controls="accordion-4aab" aria-selected="false">
                        <span class="u-accordion-link-text">Пример описания наших курсов</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-937a"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-937a" style="">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="accordion-4aab" aria-labelledby="link-accordion-4aab">
                        <div class="u-container-layout u-container-layout-2">
                            <div class="fr-view u-clearfix u-rich-text u-text">
                                <p>
                                    Курсы Front End с нуля позволяют начинающим разработчикам создавать интерфейсы, с которыми взаимодействуют пользователи. Он знает HTML, CSS и JavaScript – язык, который работает на всех платформах и единственный язык программирования для браузеров.<br style="box-sizing: content-box; color: rgb(0, 0, 0); font-family: Montserrat, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(239, 239, 239); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;" id="isPasted">
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-palette-3-base u-border-1 u-border-active-palette-5-dark-2 u-border-hover-palette-5-dark-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-2 u-button-style u-text-body-alt-color u-accordion-link-3" id="link-accordion-eb1f" aria-controls="accordion-eb1f" aria-selected="false">
                        <span class="u-accordion-link-text">Обучение</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4086"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-4086" style="">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-eb1f" aria-labelledby="link-accordion-eb1f">
                        <div class="u-container-layout u-container-layout-3">
                            <div class="fr-view u-clearfix u-rich-text u-text">
                                <p>Обучение созданию сайтов с нуля в школе TeachMeSkills – это решение реальных задач и приобретение практических навыков, а не заучивание терминов и выполнение заданий по книжкам</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item u-expanded-width">
                    <a class="u-accordion-link u-active-palette-3-base u-border-1 u-border-active-palette-5-dark-2 u-border-hover-palette-5-dark-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-2 u-button-style u-text-body-alt-color u-accordion-link-4" id="link-accordion-eb1f" aria-controls="accordion-eb1f" aria-selected="false">
                        <span class="u-accordion-link-text">Каким образом проходит обучение</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-4">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-df61"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-df61" style="">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-4" id="accordion-eb1f" aria-labelledby="link-accordion-eb1f">
                        <div class="u-container-layout u-container-layout-4">
                            <div class="fr-view u-clearfix u-rich-text u-text">
                                <p>После каждого занятия обязательные домашние задания, которые действительно хочется делать. Диплом в конце обучения, который вы сможете включить в резюме.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   

</body>
</html>