@*@model UserLogIn;
<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Tutors</title>
    <link rel="stylesheet" href="~/css/Registr.css" type="text/css">
</head>
<body>
    <style>
        body {
            background-color: black;
        }
    </style>
    <h1 class="log_in">Регистрация</h1>
    <form asp-action="Registration" asp-controller="Home">
        <div class="container">

            <label for="usrname">Email:</label>
            <input type="text" asp-for="Email" class="input-email" name="email" />

            <label for="psw">Password:</label>
            <input type="password" asp-for="Password" class="input-password" name="password" />

            <input type="submit" value="Submit" class="btn" >
            

        </div>

    </form>

</body>
</html>*@