<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Gallery, ​Turn your ideas to live web experiences, Our Projects, ​Turn your ideas to live web experiences">
    <meta name="description" content="">
    <title>Страница 1</title>
    <link rel="stylesheet" href="~/css/Tutor1.css" media="screen">
<link rel="stylesheet" href="~/css/Tutor2.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/Tutor1.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/Tutor2.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    
    
    
    <script type="application/ld+json">{
		"@@context": "http://schema.org",
		"@@type": "Organization",
		"name": "",
		"logo": "images/business-gb1578e740_640.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 1">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="ru">
    <section class="u-align-center u-clearfix u-section-1" id="carousel_c55b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left-lg u-align-left-md u-align-left-xl u-container-align-left-sm u-container-align-left-xs u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h2 class="u-align-left u-text u-text-1">Наша школа</h2>
                  <p class="u-align-left u-text u-text-2">Здесь вы сможете почитать информацию о каждом преподователе,которые работают в нашей команде</p>
                  <a asp-action="Course_main" class="u-align-left-sm u-align-left-xs u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">ГЛАВНАЯ</a>
                </div>
              </div>
              <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="2683" data-image-height="1500">
                <div class="u-container-layout u-container-layout-2" src=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-white u-section-2" id="carousel_8ceb">
      <div class="u-container-align-center u-container-style u-expanded-width u-group u-white u-group-1">
        <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
          <h1 class="u-align-center u-text u-text-black u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Преподаватели</h1>
        </div>
      </div>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-black u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img class="u-expanded-width u-image u-image-default u-image-1" src="~/img/jhjh.jpg" alt="" data-image-width="800" data-image-height="979" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-2">Виктория Гоман</h4>
              <p class="u-align-center u-text u-text-white u-text-3">&nbsp;​Team Lead в Itransition 8+ лет опыта коммерческой разработки IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ).your choice of sauce and crust. </p>
            </div>
          </div>
          <div class="u-black u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img class="u-expanded-width u-image u-image-default u-image-2" src="~/img/5.jpg" alt="" data-image-width="598" data-image-height="598" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-4">Антон Пушкин</h4>
              <p class="u-align-center u-text u-text-white u-text-5"> Software Engineer в EPAM 5,5+ лет опыта коммерческой разработки IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ).<br>
              </p>
            </div>
          </div>
          <div class="u-black u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <img class="u-expanded-width u-image u-image-default u-image-3" src="~/img/4.jpg" alt="" data-image-width="598" data-image-height="598" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-6">Виктор Рыгов</h4>
              <p class="u-align-center u-text u-text-white u-text-7"> &nbsp;Software Engineer в EPAM 5,5+ лет опыта коммерческой разработки IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ).</p>
            </div>
          </div>
          <div class="u-black u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <img class="u-expanded-width u-image u-image-default u-image-4" src="~/img/7.jpg" alt="" data-image-width="598" data-image-height="598" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-8">Ангелина Пулкина</h4>
              <p class="u-align-center u-text u-text-white u-text-9"> Software Engineer в EPAM 5,5+ лет опыта коммерческой разработки IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ).</p>
            </div>
          </div>
          <div class="u-black u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-6">
              <img class="u-expanded-width u-image u-image-default u-image-5" src="~/img/zzz.jpg" alt="" data-image-width="598" data-image-height="598" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-10">Антонина Нукова</h4>
              <p class="u-align-center u-text u-text-white u-text-11"> Software Engineer в EPAM 5,5+ лет опыта коммерческой разработки IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ).&nbsp;</p>
            </div>
          </div>
          <div class="u-black u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-7">
              <img class="u-expanded-width u-image u-image-default u-image-6" src="~/img/8ec3745f2832f41c0b97623ba91fc080.jpg" alt="" data-image-width="4200" data-image-height="2800" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-12">Реваз Андронов</h4>
              <p class="u-align-center u-text u-text-white u-text-13"> Software Engineer в EPAM 5,5+ лет опыта коммерческой разработки IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ).&nbsp;</p>
            </div>
          </div>
          <div class="u-black u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-7" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-8">
              <img class="u-expanded-width u-image u-image-default u-image-7" src="~/img/wcTTcx.jpg" alt="" data-image-width="1200" data-image-height="884" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-14">Михаил Луцков</h4>
              <p class="u-align-center u-text u-text-white u-text-15"> Software Engineer в EPAM 5,5+ лет опыта коммерческой разработки IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ).&nbsp;</p>
            </div>
          </div>
          <div class="u-black u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-8" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-9">
              <img class="u-expanded-width u-image u-image-default u-image-8" src="~/img/person-people-portrait-facial-expression-hairstyle-smile-emotion-portrait-photography-134689.jpg" alt="" data-image-width="5472" data-image-height="3648" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-16">Евгений Чипсов</h4>
              <p class="u-align-center u-text u-text-white u-text-17"> Software Engineer в EPAM 5,5+ лет опыта коммерческой разработки IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ).&nbsp;</p>
            </div>
          </div>
          <div class="u-black u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-9" data-animation-name="customAnimationIn" data-animation-duration="1500">
            <div class="u-container-layout u-similar-container u-container-layout-10">
              <img class="u-expanded-width u-image u-image-default u-image-9" src="~/img/Tucson-Porcelain-Crowns.jpg" alt="" data-image-width="1499" data-image-height="1000" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-18">Антон Вахов</h4>
              <p class="u-align-center u-text u-text-white u-text-19"> Software Engineer в EPAM 5,5+ лет опыта коммерческой разработки IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ).&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
 
  
</body></html>