<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Tutors</title>
</head>
<body>
    <style>
        body {
            background-color: black;
        }
    </style>
    <link rel="stylesheet" href="~/css/style_tut.css" type="text/css">
    <div class="container1">
        <div class='contmeleft'>
            <img width='160px' src='~/img/5.jpg'>
            <p>
                Алексей
                Team Lead в Itransition
                8+ лет опыта коммерческой разработки
                IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ). Это не только те, кто пишут код, настраивают компьютеры и помогают разобраться, когда программа
            </p>
        </div>
        <div class='contmeleft1'>
            <img width='160px' src='~/img/4.jpg'>
            <p>
                Даниил
                Software Engineer в EPAM
                5,5+ лет опыта коммерческой разработки
                IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ). Это не только те, кто пишут код, настраивают компьютеры и помогают разобраться, когда программа
            </p>
        </div>
        <div class='contmeleft2'>
            <img width='160px' src='~/img/7.jpg'>
            <p>
                Даниил
                Software Engineer в EPAM
                5,5+ лет опыта коммерческой разработки
                IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ). Это не только те, кто пишут код, настраивают компьютеры и помогают разобраться, когда программа
            </p>
        </div>
        <div class='contmeleft3'>
            <img width='160px' src='~/img/8.jpg'>
            <p>
                Даниил
                Software Engineer в EPAM
                5,5+ лет опыта коммерческой разработки
                IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ). Это не только те, кто пишут код, настраивают компьютеры и помогают разобраться,
            </p>
        </div>
        <div class='contmeleft4'>
            <img width='160px' src='~/img/9.jpg'>
            <p>
                Даниил
                Software Engineer в EPAM
                5,5+ лет опыта коммерческой разработки
                IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ). Это не только те, кто пишут код, настраивают компьютеры и помогают разобраться, когда программа
            </p>
        </div>
        <div class='contmeleft5'>
            <img width='160px' src='~/img/10.jpg'>
            <p>
                Даниил
                Software Engineer в EPAM
                5,5+ лет опыта коммерческой разработки
                IT-специалист — это широкое определение людей, чья работа связана с информационными технологиями (ИТ). Это не только те, кто пишут код, настраивают компьютеры и помогают разобраться, когда программа
            </p>
        </div>
    </div>
    <div class="sponsor_img">
        <img src="~/img/fon2.jpg" />
        <div class="title1">
            <h1>Наши Преподователи</h1>
        </div>

    </div>
    <div class="title2"><h2>Высоко-квалифицированные сотрудники ведущих IT компаний</h2></div>
</body>
</html>