<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Tutors</title>
    <link rel="stylesheet" href="~/css/style_course_main.css" type="text/css">
</head>
<body>
    <link rel="stylesheet" href="~/css/style_course_main.css" type="text/css">
    <style>
        body {
            background-color: black;
        }
    </style>
    
    <h1 class="title1">Каталог курсов</h1>
    <h2 class="title2">За 6 лет мы выпустили более 8000 айтишников, которые успешно начали свой путь в международных IT компаниях.</h2>
    @*<img class="online2" src="~/img/15.jpg" />
    <img class="offline" src="~/img/16.jpg" />
    <a class="online" asp-area="" asp-controller="Home" asp-action="Course_main">Онлайн Курсы</a>
*@
</body>
</html>