<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Tutors</title>
    <link rel="stylesheet" href="~/css/ALl_courses.css" type="text/css">
</head>
<body>
    <style>
        body {
            background-color: black;
        }
    </style>
    <div class='frontend'>
        <img src="~/img/front.png" />
        @*<h2>Курсы фронту</h2>*@
    </div>
</body>
</html>