<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Gallery, ​Turn your ideas to live web experiences, Our Projects, ​Turn your ideas to live web experiences">
    <meta name="description" content="">
    <title>Страница 2</title>
    <link rel="stylesheet" href="~/css/Blog.css" media="screen">
<link rel="stylesheet" href="~/css/Blog2.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/Blog2.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/Blog.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@@context": "http://schema.org",
		"@@type": "Organization",
		"name": "",
		"logo": "images/business-gb1578e740_640.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 2">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="ru">
    <section class="u-clearfix u-container-align-center u-image u-shading u-section-1" id="sec-42c0" data-image-width="2250" data-image-height="1500">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-left u-border-20 u-border-black u-container-align-center u-container-style u-group u-opacity u-opacity-25 u-white u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1">FULL-BRAINS</h2>
            <p class="u-align-center u-text u-text-body-alt-color u-text-2">Лучшая&nbsp; компания по версии CourseTechnologies 2023</p>
            <a  asp-controller="Home" asp-action="Course_main" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">ГЛАВНАЯ</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="carousel_c55b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left-lg u-align-left-md u-align-left-xl u-container-align-left-sm u-container-align-left-xs u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-default u-text-1">Нейросети</h2>
                  <p class="u-align-left u-text u-text-2"> Компании уже на протяжении многих лет вкладываются в развитие нейросетей и искусственного интеллекта. И если все эти годы Голливуд пугает нас восстанием машин, — то эксперты в интернетах тем, что нейросети оставят нас без работы…</p>
                </div>
              </div>
              <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1280" data-image-height="853">
                <div class="u-container-layout u-container-layout-2" src=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-grey-5 u-section-3" id="carousel_4efb">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="~/img/0012d8ae8d96e027459e36e7e85dc7b67fe34505dda7a174133abdb4e163d613fa0dc59be4b8bb27047b264d66e2145ee851cda9becc2af1aa2369_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-1">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="787">
                            <img class="u-back-image u-expanded" src="~/img/15f2f1dfa9b81b0638c03ab1db1f7da59891f1120e87d02e220b6a4b5279fb62b2a229b265ecbfcb3f0db85a200ab3a8a5b58521b5616187cb4ba3_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-2">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="640">
                            <img class="u-back-image u-expanded" src="~/img/16.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="~/img/-min2.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-4">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="~/img/10.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-5">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="~/img/1883a7c5fd04583354f105f38cee7fdaa6a23d1ff4858a5067f459431a721f0ad8cb24fc34d87e806f104f17f938d650336eb1b3bcabef8c18b09f_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-6">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="854">
                            <img class="u-back-image u-expanded" src="~/img/fon.jpg" />
                        <div class="u-over-slide u-shading u-over-slide-7">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="870">
                            <img class="u-back-image u-expanded" src="~/img/0012d8ae8d96e027459e36e7e85dc7b67fe34505dda7a174133abdb4e163d613fa0dc59be4b8bb27047b264d66e2145ee851cda9becc2af1aa2369_1280.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-8">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="~/img/0fd3416c.jpeg" />
                        <div class="u-over-slide u-shading u-over-slide-9">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="carousel_af32">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1280" data-image-height="853">
                <div class="u-container-layout u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-2">
                  <h2 class="u-align-left u-text u-text-1">Какие приложения создают IOS разработчики</h2>
                  <p class="u-align-left u-text u-text-2"> Поговорили с Евгением Мартыновым, преподавателем курса IOS-разработки в школе TeachMeSkills и выяснили, в каких сферах востребованы IOS-разработчики в 2023 году и сколько можно здесь заработать. Спойлер: не все так просто.</p>
                                <a  asp-action="IOS" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Курс по SWIFT</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="sec-b63e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                <img class="u-back-image u-expanded" src="~/img/fon2.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                <img class="u-back-image u-expanded" src="~/img/fon3.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                <img class="u-back-image u-expanded" src="~/img/bck1.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-6" id="sec-e13a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1280" data-image-height="856">
                <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-black u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-1">Какие будут профессии в IT</h2>
                  <p class="u-text u-text-2"> Новый год уже близко и это отличное время чтобы задуматься, где его встречать :) А еще хорошее время подумать и о более глобальных изменениях в своей жизни. Например, в карьере. Если вы давно слышали об IT-сфере и не решались туда лезть, потому что сложно/непонятно/кому я там нужен, — то в этой статье мы легко и просто расскажем об основных существующих направлениях работы в IT-компаниях, которым можно обучиться с ну</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-7" id="sec-eccd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-default u-text-1">Язык программирования C#</h2>
                  <p class="u-align-center u-text u-text-2"> Язык программирования C# отлично зарекомендовал себя там, где нужна быстрая разработка, когда важно минимальное время от идеи до прототипа. Чтобы решить одну и ту же задачу, Java-разработчику понадобится 100 строк кода, а C#-программисту – 10. Также Ruby простой, понятный, лаконичный язык программирования и отлично подходит как первый язык для изучения.<br>
                  </p>
                                <a  asp-action="Sharp" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Курс по C#</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1280" data-image-height="854">
                <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
  
</body></html>