
<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Tutors</title>
    <link rel="stylesheet" href="~/css/Course_offline.css" type="text/css">
</head>
<body>
    <style>
        body {
            background-color: black;
        }
    </style>
    <ul class="offline">
        <li class="offline2"><a class="offline2_a" asp-action="All_courses">Все курсы</a></li>
        <li class="offline2"><a class="offline2_a" asp-action="Development">Разработка</a></li>
        <li class="offline2"><a class="offline2_a" asp-action="Testing">Тестирование</a></li>
        <li class="offline2"><a class="offline2_a" asp-action="Design">Дизайн</a></li>
        <li class="offline2"><a class="offline2_a"  asp-action="Buissnes-analyze">Бизнес-анализ</a></li>
    </ul>
    <h1 class="title_offline_h1">IT курсы в Минске</h1>
    <h2 class="title_offline_h2">За 6 лет мы выпустили более 8000 айтишников, которые успешно начали свой путь в международных IT компаниях.</h2>
</body>
</html>