<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Tutors</title>
    <link rel="stylesheet" href="~/css/Course_online.css" type="text/css">
</head>
<body>
    <style>
        body {
            background-color: black;
        }
    </style>
    <div class='frontend'>
        <img src="~/img/front.png" />
        <h2 class="frontendh2">Курсы по Front-End </h2>
        <h3 class="frontendh3">Старт 30 мая </h3>
        <a asp-action="FrontEnd" class="frontlink">Подробнее →</a>
    </div>
    <div class='Python'>
        <img src="~/img/python.png" />
        <h2 class="frontendh2">Курсы по Python </h2>
        <h3 class="frontendh3">Старт 30 мая </h3>
        <a asp-action="Python" class="frontlink">Подробнее →</a>
    </div>
</body>
</html>