<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="FULL-B​RAINS​">
    <meta name="description" content="">
    <title>Контакты</title>
    <link rel="stylesheet" href="~/css/Course_offline.css" media="screen">
    <link rel="stylesheet" href="~/css/cont.css" media="screen">
    <link rel="stylesheet" href="~/css/cont2.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">
                "@@context": "http://schema.org",A
                "@@type": "Organization",
                "name": "",
                "logo": "images/business-gb1578e740_640.png"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Контакты">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body  data-lang="ru">
    <style>
        body {
            background-color: black;
        }
    </style>
    
    <section class="u-black u-clearfix u-container-align-center u-section-1" id="carousel_f3bc">
        <div class="u-container-style u-expanded-width u-group u-image u-shading u-image-1" data-image-width="4380" data-image-height="2895">
            
            <div class="imgfr">
                <img src="~/img/fon.jpg" />
                <h2 class="h2fr">Офлайн курсы</h2>
            </div>
        </div>
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-border-5 u-border-grey-90 u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-border-3 u-border-black u-image u-image-round u-radius-16 u-image-2" src="~/img/front.png" alt="" data-image-width="150" data-image-height="150" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <h4 class="u-align-center u-custom-font u-font-georgia u-text u-text-2">Front-End&nbsp;</h4>
                        <p class="u-align-center u-text u-text-3">Старт 30 мая</p>
                        <a asp-action="FrontEnd" class="frontlink">Подробнее →</a>
                    </div>
                </div>
                <div class="u-border-5 u-border-grey-90 u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <img class="u-border-3 u-border-black u-image u-image-round u-radius-16 u-image-3" src="~/img/android.png" alt="" data-image-width="150" data-image-height="150" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <h4 class="u-align-center u-custom-font u-font-georgia u-text u-text-4">Android&nbsp;</h4>
                        <p class="u-align-center u-text u-text-5">Старт 30 мая</p>
                        <a asp-action="Android" class="frontlink">Подробнее →</a>
                    </div>
                </div>
                <div class="u-border-5 u-border-grey-90 u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <img class="u-border-3 u-border-black u-image u-image-round u-radius-16 u-image-4" src="~/img/plus.png" alt="" data-image-width="150" data-image-height="150" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <h4 class="u-align-center u-custom-font u-font-georgia u-text u-text-6">C++</h4>
                        <p class="u-align-center u-text u-text-7">Старт 30 мая</p>
                        <a asp-action="Plus" class="frontlink">Подробнее →</a>
                    </div>
                </div>
                <div class="u-border-5 u-border-grey-90 u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-5">
                        <img class="u-border-3 u-border-black u-image u-image-round u-radius-16 u-image-5" src="~/img/java.png" alt="" data-image-width="150" data-image-height="150" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <h4 class="u-align-center u-custom-font u-font-georgia u-text u-text-8">Java</h4>
                        <p class="u-align-center u-text u-text-9">Старт 30 мая</p>
                        <a asp-action="Java" class="frontlink">Подробнее →</a>
                    </div>
                </div>
                <div class="u-border-5 u-border-grey-90 u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-6">
                        <img class="u-border-3 u-border-black u-image u-image-round u-radius-16 u-image-6" src="~/img/ruby.png" alt="" data-image-width="150" data-image-height="150" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <h4 class="u-align-center u-custom-font u-font-georgia u-text u-text-10">Ruby</h4>
                        <p class="u-align-center u-text u-text-11">Старт 30 мая</p>
                        <a asp-action="Ruby" class="frontlink">Подробнее →</a>
                    </div>
                </div>
                <div class="u-border-5 u-border-grey-90 u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-7">
                        <img class="u-border-3 u-border-black u-image u-image-round u-radius-16 u-image-7" src="~/img/ios.png" alt="" data-image-width="150" data-image-height="150" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <h4 class="u-align-center u-custom-font u-font-georgia u-text u-text-12">IOS</h4>
                        <p class="u-align-center u-text u-text-13">Старт 30 мая</p>
                        <a asp-action="IOS" class="frontlink">Подробнее →</a>
                    </div>
                </div>
                <div class="u-border-5 u-border-grey-90 u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-7" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-8">
                        <img class="u-border-3 u-border-black u-image u-image-round u-radius-16 u-image-8" src="~/img/python.png" alt="" data-image-width="150" data-image-height="150" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <h4 class="u-align-center u-custom-font u-font-georgia u-text u-text-14">Python</h4>
                        <p class="u-align-center u-text u-text-15">Старт 30 мая</p>
                        <a asp-action="Python" class="frontlink">Подробнее →</a>
                    </div>
                </div>
                <div class="u-border-5 u-border-grey-90 u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-8" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-9">
                        <img class="u-border-3 u-border-black u-image u-image-round u-radius-16 u-image-9" src="~/img/flutter.png" alt="" data-image-width="150" data-image-height="150" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <h4 class="u-align-center u-custom-font u-font-georgia u-text u-text-16">Flutter</h4>
                        <p class="u-align-center u-text u-text-17">Старт 30 мая</p>
                        <a asp-action="Flutter" class="frontlink">Подробнее →</a>
                    </div>
                </div>
                <div class="u-border-5 u-border-grey-90 u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-9" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-10">
                        <img class="u-border-3 u-border-black u-image u-image-round u-radius-16 u-image-10" src="~/img/english.png" alt="" data-image-width="150" data-image-height="150" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <h4 class="u-align-center u-custom-font u-font-georgia u-text u-text-18">English</h4>
                        <p class="u-align-center u-text u-text-19">Старт 30 мая</p>
                        <a asp-action="English" class="frontlink">Подробнее →</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="u-align-center u-text u-text-20" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">FULL-BRAINS ENGENIERS</p>
    </section>
</body>
</html>