<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Reliable, Trusted, and Professional Services, ​Repairing services, Home Repair Services">
    <meta name="description" content="">
    <title>Страница 1</title>
    <link rel="stylesheet" href="~/css/Main.css" media="screen">
    <link rel="stylesheet" href="~/css/Katalog.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">





    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@type": "Organization",
                "name": "",
                "logo": "images/business-gb1578e740_640.png"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 1">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body class="u-body u-xl-mode" data-lang="ru">
    
    <section class="u-align-center u-clearfix u-palette-3-base u-valign-middle u-section-1" id="sec-f7d1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-shape-rectangle u-size-37 u-image-1" data-image-width="2000" data-image-height="1315" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                        <div class="u-container-layout u-container-layout-1"></div>
                    </div>
                    <div class="u-black u-container-style u-layout-cell u-shape-rectangle u-size-23 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h2 class="u-align-left u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">КомайПродукт</h2>
                            <a href="https://nicepage.one" class="u-align-left u-border-2 u-border-radius-50 u-border-white u-btn u-button-style u-hover-black u-none u-text-hover-white u-text-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">главная</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-2" id="sec-a816">
        <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-group u-image u-image-1" data-image-width="1980" data-image-height="1132">
            <div class="u-container-layout u-valign-top u-container-layout-1">
                <h2 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
                    О Компании<br>
                </h2>
            </div>
        </div>
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                
                <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <span class="u-black u-file-icon u-icon u-icon-circle u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"><img src="~/img/1107201-402b1560.png" alt=""></span>
                        <h4 class="u-custom-font u-font-montserrat u-text u-text-6">Поставки</h4>
                        <p class="u-text u-text-7"> Предлагаем надежные поставки крупных и мелких партий ритуального текстиля</p>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-similar-container u-container-layout-5">
                        <span class="u-black u-file-icon u-icon u-icon-circle u-icon-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"><img src="~/img/422315-eb9e7913.png" alt=""></span>
                        <h4 class="u-custom-font u-font-montserrat u-text u-text-8">Производство</h4>
                        <p class="u-text u-text-9"> Наши изделия, тюле-гардинное полотно производятся на собственном технологичном оборудовании</p>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <span class="u-black u-file-icon u-icon u-icon-circle u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"><img src="~/img/5035738-8712b71f.png" alt=""></span>
                        <h4 class="u-custom-font u-font-montserrat u-text u-text-6">Услуги</h4>
                        <p class="u-text u-text-7"> Также выполняем услуги по&nbsp;снованию нити,&nbsp;отделке текстильных полотен, изготовлению изделий по индивидуальным заказам и рисункам.</p>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-similar-container u-container-layout-5">
                        <span class="u-black u-file-icon u-icon u-icon-circle u-icon-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"><img src="~/img/7315554-319c4d89.png" alt=""></span>
                        <h4 class="u-custom-font u-font-montserrat u-text u-text-8">Компания</h4>
                        <p class="u-text u-text-9"> Баланс цены и качества от&nbsp;Комайпродукт - это выгода сотрудничества и традиционное высокий уровень продукции!</p>
                    </div>
                </div>
            </div>
        </div>




    </section>
    <section class="u-clearfix u-container-align-center u-grey-90 u-section-3" id="carousel_42f3">
        <div class="u-container-style u-expanded-width u-group u-image u-image-1" data-image-width="1980" data-image-height="1132">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-align-center u-text u-text-body-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Каталог продукции</h2>
                <div class="u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                        <div class="u-align-center u-container-style u-custom-border u-list-item u-radius-8 u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                            <div class="u-container-layout u-similar-container u-container-layout-2">
                                <img class="u-expanded-width u-image u-image-default u-image-2" src="~/img/i12.webp" alt="" data-image-width="640" data-image-height="640">
                                <h5 class="u-align-center u-text u-text-2">Ритуальная Продукция</h5>
                                <a href="https://nicepage.com/c/industrial-website-templates" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">подробнее</a>
                            </div>
                        </div>
                        <div class="u-align-center u-container-align-center u-container-style u-custom-border u-list-item u-radius-8 u-repeater-item u-shape-round u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                            <div class="u-container-layout u-similar-container u-container-layout-3">
                                <img class="u-expanded-width u-image u-image-default u-image-3" src="~/img/b6c3b9ce915bac37ab6497a206fe--materialy-dlya-tvorchestva-tesma-kruzhevnaya-shirina-14-mm-hl.jpg" alt="" data-image-width="1500" data-image-height="846">
                                <h5 class="u-align-center u-text u-text-3">Текстильная галантерея</h5>
                                <a href="https://nicepage.com/c/industrial-website-templates" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-2">подробнее</a>
                            </div>
                        </div>
                        <div class="u-align-center u-container-align-center u-container-style u-custom-border u-list-item u-radius-8 u-repeater-item u-shape-round u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                            <div class="u-container-layout u-similar-container u-container-layout-4">
                                <img class="u-expanded-width u-image u-image-default u-image-4" src="~/img/61.jpg" alt="" data-image-width="653" data-image-height="445">
                                <h5 class="u-align-center u-text u-text-4">
                                    Текстиль&nbsp;<br>для дома
                                </h5>
                                <a asp-action="Kitchen" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-3">подробнее</a>
                            </div>
                        </div>
                        <div class="u-align-center u-container-align-center u-container-style u-custom-border u-list-item u-radius-8 u-repeater-item u-shape-round u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                            <div class="u-container-layout u-similar-container u-container-layout-5">
                                <img class="u-expanded-width u-image u-image-default u-image-5" src="~/img/10.jpg" alt="" data-image-width="886" data-image-height="591">
                                <h5 class="u-align-center u-text u-text-5">Пасхальные салфетки</h5>
                                <a asp-action="Salfetki" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-4">подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-container-align-center u-grey-90 u-section-4" id="sec-b38a">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <h4 class="u-align-center u-text u-text-1">Телефон</h4>
                                <p class="u-align-center u-text u-text-default u-text-2">Если остались вопросы, оставьте ваш номер телефона и наш менеджер обязательно вам перезвонит</p>
                                <div class="u-form u-form-1">
                                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 0px;">
                                        <div class="u-form-email u-form-group u-label-none">
                                            <label for="email-5b2e" class="u-label">Email</label>
                                            <input type="email" placeholder="Номер телефона" id="email-5b2e" name="email" class="u-grey-10 u-input u-input-rectangle u-input-1" required="">
                                        </div>
                                        <div class="u-align-left u-form-group u-form-submit u-label-none">
                                            <a href="#" class="u-active-palette-3-light-1 u-border-none u-btn u-btn-submit u-button-style u-hover-palette-3-light-1 u-palette-3-base u-btn-1">Отправить</a>
                                            <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>
                                        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                        <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                                        <input type="hidden" value="" name="recaptchaResponse">
                                        <input type="hidden" name="formServices" value="be51eb010af478cb0c31776aab7bbbda">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">
                            <div class="u-container-layout u-valign-top u-container-layout-2">
                                <span class="u-align-center u-file-icon u-icon u-icon-1"><img src="~/img/733585.png" alt=""></span>
                                <h4 class="u-align-center u-text u-text-3"> Whatsapp Support</h4>
                                <p class="u-align-center u-text u-text-default u-text-4">Можете написать нам в&nbsp; мессенджер</p>
                                <a href="tel:+12-345-678-89089" class="u-active-palette-3-light-1 u-btn u-button-style u-custom u-hover-palette-3-light-1 u-palette-3-base u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">+375 29 788 88 82</a>
                            </div>
                        </div>
                        <div class="cell-temp-clone u-container-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">
                            <div class="u-container-layout u-valign-top u-container-layout-3">
                                <span class="u-align-center u-file-icon u-icon u-text-white u-icon-2"><img src="~/img/684849-34712721.png" alt=""></span>
                                <h4 class="u-align-center u-text u-text-5">Чат</h4>
                                <p class="u-align-center u-text u-text-6">После того как вы оставите заявку,наш менеджер ответит вам в течении 15 минут</p>
                                <a href="tel:+12-345-678-89089" class="u-active-palette-3-light-1 u-btn u-button-style u-custom u-hover-palette-3-light-1 u-palette-3-base u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Чат</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   

</body>
</html>