@model MainOrder;
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Top-shelf haircuts, straight razor shaves and booze, ​Super Professional Barbers, Our Awards, Contact Us">
    <meta name="description" content="">
    <title>Страница 4</title>
    <link rel="stylesheet" href="~/css/Order.css" media="screen">
<link rel="stylesheet" href="~/css/Order1.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@@context": "http://schema.org",
		"@@type": "Organization",
		"name": "",
		"logo": "images/business-gb1578e740_640.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 4">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="ru">
    <section class="skrollable skrollable-between u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1" id="carousel_1c13" src="" data-image-width="1067" data-image-height="800">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Здесь вы можете оставить заявку на консультацию</h2>
        <p class="u-align-center u-large-text u-text u-text-variant u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">Наши менеджеры всегда рады вам помочь</p>
        <a href="https://nicepage.one" class="u-active-white u-align-center u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-black u-text-hover-black u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">ГЛАВНАЯ</a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-white u-section-2" id="carousel_8017">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-black u-shape u-shape-rectangle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
        <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Оставить заявку</h2>
            <div class="u-form u-form-1">
              <form asp-controller="Home" asp-action="Order" class="u-clearfix u-form-spacing-13 u-form-vertical u-inner-form" style="padding: 0;" >
                <div class="u-form-group u-form-name">
                  <label for="name-f18c" class="u-label">Имя</label>
                  <input  asp-for="Name" type="text" placeholder="Введите свое имя"  class="u-grey-5 u-input u-input-rectangle u-input-1" required="">
                </div>
                <div class="u-form-group u-form-phone u-form-group-2">
                  <label for="phone-cbff" class="u-form-control-hidden u-label">Phone</label>
                  <input  asp-for="PhoneNumber" type="tel" pattern="\+?\d{0,2}[\s\(\-]?([0-9]{3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Введите свое номер телефона (+375..)"  class="u-grey-5 u-input u-input-rectangle u-input-2" required="" wfd-id="id509">
                </div>
                <div class="u-form-group u-form-message u-form-group-3">
                  <label for="message-1015" class="u-label">Ваш комментарий</label>
                  <textarea asp-for="Description" placeholder="Ваш вопрос" rows="4" cols="50"  class="u-grey-5 u-input u-input-rectangle u-input-3" required=""></textarea>
                </div>
                <div class="u-align-left u-form-group u-form-submit">
                  
                  <input type="submit" value="submit">
                </div>
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
   
</body></html>