@using WebApplication3.Models.TMS_HW

@model Book
@{
    ViewBag.Title = "Добавление юзера";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CountOfPages" class="control-label">Количество страниц</label>
        <input type="text" asp-for="CountOfPages" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Author" class="control-label">Автор</label>
        <input type="number" asp-for="Author" class="form-control" />
    </div>
    
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>